<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>
  <body>

  <div class="container my-4 mt-4">
    <h6>About Jayant Dev: Your AI & ML Engineer</h6>
    <h5>Meet the Developer</h5>

    <p>Hello, I'm **Jayant Dev**, an AI and Machine Learning enthusiast currently pursuing my MCA with a focus on AIML. With a passion for leveraging technology to solve real-world problems, I have been working on various AI/ML projects aimed at improving systems and accessibility. Let me share a bit about my journey in the world of artificial intelligence and machine learning.</p>

    <h5>My Expertise</h5>
    <p>With a strong foundation in computer science, I have been focusing on building predictive models, working on AI-driven projects, and contributing to meaningful advancements in technology. Throughout my academic journey, I have worked on projects in Natural Language Processing (NLP), Machine Learning, and securing online banking systems, gaining hands-on experience in these areas.</p>

    <h5>A Commitment to Excellence</h5>
    <p>My work is driven by a commitment to excellence and a belief that technology should be accessible to all. Whether it's developing intelligent systems, implementing machine learning models, or designing efficient algorithms, I aim to provide innovative and practical solutions that make a positive impact.</p>

    <h5>Passion for Health Tech</h5>
    <p>The development of my various AI projects, such as the Medicine Recommendation System, reflects my passion for integrating AI with healthcare. I believe AI has immense potential in transforming healthcare by providing personalized solutions, and I strive to contribute to this field by creating systems that benefit users.</p>

    <h5>Join Me on this Journey</h5>
    <p>I invite you to explore my work and see how AI can make a difference in various fields. Together, we can promote innovation, improve efficiency, and build systems that can lead to a brighter and healthier future.</p>
  </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>
